/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Section */
header {
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
} 
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    display: block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

/* Introduction Section */
.introduction {
    background-color: #eee;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.introduction h2 {
    font-size: 2em;
    color: #333;
}

/* .introduction p {
    color: #666;
    font-size: 1.1em;
    line-height: 1.6;
} */

/* Box Section */
.box-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 80%;
}

.box {
    width: 30%;
    padding: 20px;
    text-align: center;
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); */
}

.box h3 {
    font-size: 1.5em;
    color: #333;
}

.box p {
    
    font-size: 1em;
}

/* Pseudo-Classes and Pseudo-Elements Section */
.pseudo-section {
    background-color: #eee;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

.pseudo-section h2 {
    font-size: 1.5em;
    color: #333;
}

.pseudo-section ul {
    list-style-type: none;
    padding: 0;
}

.pseudo-section ul li {
    color: #666;
    font-size: 1.1em;
    margin: 10px 0;
}

.pseudo-section .pseudo-start {
    color: green;
}

.pseudo-section .pseudo-end {
    color: green;
}

/* Footer Section */
footer {
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    color: #333;
    margin: 0;
}
